<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->


<h2>My Heroes</h2>


<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>
<div *ngIf="like!=0 || dislike !=0">
    Like: {{like}} <br>
    Dislike: {{dislike}}
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <app-hero-item [hero]="hero" (heroDelete)="delete($event)" (voted)="onVote($event)"></app-hero-item>
    </li>
</ul>
<button class="btn-clear" (click)="handleClear()">Clear</button>
<app-messages></app-messages>