img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.user-item {
  display: flex;
}
.contain-fromEvent {
  height: 300px;
  background-color: rgb(141, 194, 236);
}
.behaviorSubject {
  height: 200px;
  position: relative;
}
